cabeçalho_menu-amburguer {
    width: 60px;
    height: 60px;
    background-image: url("../menu.svg");
    display: inline-block;}
.cabeçalho-menu{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    position: relative;}
.lista-menu {display: none;
    position: absolute;
    top: 100%;
    color: aquamarine;}
.ca